html {
  scroll-behavior: smooth;
}

.root{
    --primary: #06ab80;
}

.custom-font{
    font-family: 'Playfair Display', serif;
}

.button{
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    float: right;
}

.tall{
    height: 1000px;
}

body{
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
h1, h2 ,h3 ,h4 ,h5 ,h6{
    margin: 0;
    padding: 0;
}
.black-filter{
    background-color: rgba(0, 0, 0, 0.3);
}
.banner-image{
    background-image: url(./mont-st-michel-dark.jpg);
    background-size: cover;
    background-position: center;
}

.primary1{
    background-color: #06ab80;
}
.primary-t{
    color: #06ab80;
}

.banner-hook-highlight{
    border-color: #06ab80;
    border-left-style: solid;
    border-width: 0.5rem;
}


.form-button{
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    color: #06ab80;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.form-check-text{
    font-size: 10px;
}

.t-small{
    font-size: 10px;
}

.card-t{
    font-weight: bold;
    font-size: 14px;

}

@media only screen and (min-width: 600px){
.spillbox-parent{
    position: relative;
}

.spillbox-child{
    position:absolute;
    bottom: -7rem;

}
}

@media only screen and (min-width: 1500px) {
    body {
        background-color: #bdbdbd;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .video-box{
        max-width: 25vw;
        padding: auto;
    }
    .more-margin{
        padding-top: 7.5vh;
        padding-bottom: 7.5vh;
    }
}

@media only screen and (max-width: 600px){
    .mobile-gone {
        display: none;
    }
    .video-box{
        max-width: 75vw;
        padding-top: 1rem;
    }
    .more-margin{
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    .header-mobile{
        font-size: 22px
    }
    .subheader-mobile{
        font-size: 16px
    }
}


.spinner{
    width: 100%;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}
@-moz-keyframes spin { 50% { -moz-transform: rotateY(90deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotateY(90deg); } }
@keyframes spin { 50% { -webkit-transform: rotateY(90deg); transform:rotateY(90deg); } }